declare a as int
dec b as it

a= 1
b=1

dec c as int
c = a+b

In [1]:
7 + 5

12

In [2]:
7.5 + 8.5

16.0

In [4]:
type(7)

int

In [5]:
type(7.8)

float

In [ ]:
int 7 , 9 ,1000000000

float 7.8 ,9.9 , 10000.23

'asssdddf , 'aravinf'

'True'  ' Fasle'

In [ ]:
+ , * , '/', ** , %

In [13]:
a = 1
b = 3

c = a % b
print(c)

1

In [14]:
a = 'india'

In [15]:
print(a)

india

In [16]:
type(a)

str

In [17]:
a + 3

TypeError: can only concatenate str (not "int") to str

In [18]:
a = 4

In [19]:
a + 4

8

In [20]:
a ='3'

In [21]:
a + 4

TypeError: can only concatenate str (not "int") to str

In [23]:
import pandas as pd
df = pd.read_csv('Iris.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

In [26]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [28]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [29]:
a = '3'

In [30]:
b = int(a)

In [31]:
print(type(b))

<class 'int'>

In [32]:
a = '3'

In [33]:
b=float(a)

In [ ]:
<
>
=
!=
<=
>=

In [ ]:
if the else
for loop